    extends layout
block content
    table
        h3#{installations._id}
         - console.log(!{installations})
        tbody
            tr
                td
                    p Type:
                td
                    input#TYPE(type="text" value="#{installations.Instalation}")
            tr
                td
                    p Arrondissement:
                td
                    input#ARRONDISSE(type="text" value="#{installations.ARRONDISSE}")
            tr
                td
                    p Adresse:
                td
                    input#ADRESSE(type="text" value="#{installations.ADRESSE}")
            tr
                td
                    p Condition:
                td
                    input#condition(type="text" value="#{installations.condition}")
            tr
                td
                    button(onclick="modifyCV('#{contrevenant._id}')") Envoyer
