block content
    table
        h3#{installations._id}
         - console.log(!{installations})
        tbody
            tr
                td
                    p Type:
                td
                    input#TYPE(type="text" value="#{installations.Instalation}")
            tr
                td
                    p Arrondissement:
                td
                    input#ARRONDISSE(type="text" value="#{installations.ARRONDISSE}")
            tr
                td
                    p Adresse:
                td
                    input#ADRESSE(type="text" value="#{installations.ADRESSE}")
            tr
                td
                    p Condition:
                td
                    input#condition(type="text" value="#{installations.condition}")
            tr
                td
                    p Ville:
                td
                    input#ville(type="text" value="#{installations.ville}")
            tr
                td
                    p Description:
                td
                    input#description(type="text" value="#{installations.description}")
            tr
                td
                    p Date infraction:
                td
                    input#date_infraction(type="text" value="#{contrevenant.date_infraction.toLocaleDateString()}")
            tr
                td
                    p Date jugement:
                td
                    input#date_jugement(type="text" value="#{contrevenant.date_jugement.toLocaleDateString()}")
            tr
                td
                    p Montant:
                td
                    input#montant(type="text" value="#{contrevenant.montant}")
            tr
                td
                    button(onclick="modifyCV('#{contrevenant._id}')") Envoyer
